# Python & venv
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Model files
models/*.onnx
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log
